[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
pandas = "*"
numpy = "*"
uvicorn = "*"
confluent-kafka = "*"
requests = "*"
minio = "*"
opentelemetry-sdk = "*"
opentelemetry-instrumentation-fastapi = "*"
opentelemetry-instrumentation-requests = "*"
opentelemetry-api = "*"
prometheus-client = "*"
psutil = "*"
hvac = "*"

[dev-packages]

[requires]
python_version = "3.11"
